.emoji-bg {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: var(--green1);
	position: relative;
	.logo {
		position: absolute;
		user-select: none;
	}
}
.emoji-bg-text {
	width: 80%;
	font-weight: 700;
	font-size: clamp(4rem, 4vw, 5.5rem);
	line-height: 100%;
	color: var(--green1);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	user-select: none;
	pointer-events: none;
	p {
		margin-bottom: 0.625em;
	}
	a {
		color: var(--green1);
		font-size: clamp(2rem, 3vw, 3.5rem);
	}
}
