@font-face {
	font-family: 'apercu-bold';
	src: url('../src/fonts/ApercuMonoPro-Bold.woff') format('woff');
	src: url('../src/fonts/ApercuMonoPro-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'apercu-regular';
	src: url('../src/fonts/ApercuMonoPro-Regular.woff') format('woff');
	src: url('../src/fonts/ApercuMonoPro-Regular.woff2') format('woff2');
}
